---
title: Timeline
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Jene - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="175" height="175" style="border-radius:50%;" src="/img/avatar-jene.jpg">
				<h1>Jene</h1>
				<p>A student majors in Optical,<br>
					now focus on Android Development.</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">毕业在即</h2>
							<time>2017.06</time>
							<img src="images/graduate.jpg">
							<ul>
								<li>
									未来还很长，未来已在路上！
								</li>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2 id="hslider">基于stm32的智能心电采集和传输系统</h2>
							<time>2016.12</time>
							<img src="images/school-project.jpg">
							<ul>
								<li>
									为了做这个项目，我自学了Java，然后就转战Android，可以说，经过这个项目，我从硬件开发学习过渡到了软件编程。
								</li>
								<li class="skill">
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>参加了<b>全国大学生光电设计竞赛</b></h2>
							<time>2016.7</time>
							<img src="images/school-compet.jpg">
							<ul>
								<li>仅仅是成功参赛而已。我们小组做的是<b>单透镜成像系统</b>，我主要负责PCB设计与焊接，第一次要做出PCB的实物，因为厂家报价超出经费预算，我们自己焊接SMT元件。
									虽然没有拿到名次，不过收获的是自己能力和心性的提升。</li>
								<li class="skill">
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>运营微信公众号<b>山东理工大学英语</b></h2>
							<time>2015.09 - 2016.03</time>
							<ul>
								<li>
									参与了一个微信公众平台从开始到成熟上线的过程，从注册到申请认证，从开始到获得原创和留言功能，并非一蹴而就。所以，凡事一步步地走，时间会给我们答案。
								</li>
								<li class="skill">
									<span><b>Ps</b></span>
									<span class="link"><a target="_blank" href="http://mp.weixin.qq.com/s/876rKO-J-GT_3aIVpsMPPQ">@sdut-ce</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>电器科研协会(社团)技术部部长</h2>
							<time>2013.10 - 2015.06</time>
							<img src="images/work-association.png">
							<ul>
								<li>在学校社团待了近两年，锻炼里自己的交际能力和组织能力。
								<li class="skill">
									<span class="link"><a target="_blank" href="http://www.sxnet.com.cn/post/201505/25-19567.html">View</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>进入山东理工大学</h2>
							<time>2013.09</time>
							<img src="images/school-label.jpg">
							<ul>
								<li class="skill">
									<span class="link"><a target="_blank" href="http://www.sdut.edu.cn/">学校官网</a></span>
								</li>
							</ul>
						</div>
					</li>
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
